/*
NetBox REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 4.7.2-Docker-5.1.1 (4.7)
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package netbox

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type AuthenticationCheckAPI interface {

	/*
		AuthenticationCheckRetrieve Method for AuthenticationCheckRetrieve

		Return the user making the request, if authenticated successfully.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiAuthenticationCheckRetrieveRequest
	*/
	AuthenticationCheckRetrieve(ctx context.Context) ApiAuthenticationCheckRetrieveRequest

	// AuthenticationCheckRetrieveExecute executes the request
	//  @return map[string]interface{}
	AuthenticationCheckRetrieveExecute(r ApiAuthenticationCheckRetrieveRequest) (map[string]interface{}, *http.Response, error)
}

// AuthenticationCheckAPIService AuthenticationCheckAPI service
type AuthenticationCheckAPIService service

type ApiAuthenticationCheckRetrieveRequest struct {
	ctx        context.Context
	ApiService AuthenticationCheckAPI
	brief      *bool
	fields     *string
	omit       *string
}

// Return only brief fields for each object.
func (r ApiAuthenticationCheckRetrieveRequest) Brief(brief bool) ApiAuthenticationCheckRetrieveRequest {
	r.brief = &brief
	return r
}

// Comma-separated list of fields to include in the response. Example: &#x60;fields&#x3D;id,name&#x60;.
func (r ApiAuthenticationCheckRetrieveRequest) Fields(fields string) ApiAuthenticationCheckRetrieveRequest {
	r.fields = &fields
	return r
}

// Comma-separated list of fields to exclude from the response. Example: &#x60;omit&#x3D;description,tags&#x60;.
func (r ApiAuthenticationCheckRetrieveRequest) Omit(omit string) ApiAuthenticationCheckRetrieveRequest {
	r.omit = &omit
	return r
}

func (r ApiAuthenticationCheckRetrieveRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.AuthenticationCheckRetrieveExecute(r)
}

/*
AuthenticationCheckRetrieve Method for AuthenticationCheckRetrieve

Return the user making the request, if authenticated successfully.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAuthenticationCheckRetrieveRequest
*/
func (a *AuthenticationCheckAPIService) AuthenticationCheckRetrieve(ctx context.Context) ApiAuthenticationCheckRetrieveRequest {
	return ApiAuthenticationCheckRetrieveRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *AuthenticationCheckAPIService) AuthenticationCheckRetrieveExecute(r ApiAuthenticationCheckRetrieveRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationCheckAPIService.AuthenticationCheckRetrieve")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/authentication-check/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.brief != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brief", r.brief, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.omit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "omit", r.omit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
